//Appointment container
.appointment-dashbaord-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 143.375px);
    width: 100%;
    .appointment-box {
        border: 1px solid $grey;
        box-shadow: 0 0 3px #373737;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 45px;
        margin-top: 45px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        .appointment-table {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-self: center;
            .field1 {
                width: 107px;
            }
            .field2 {
                width: 107px;
            }
            .field3 {
                width: 103px;
            }
            .field4 {
                width: 37px;
            }
            .field5 {
                width: 62px;
            }
            .field6 {
                width: 87px;
            }
            .field7 {
                width: 62px;
            }
            .field8 {
                width: 34px;
            }
            .field9 {
                width: 42px;
            }
            .field10 {
                border: none;
                background-color: white;
            }
            .table {
                padding: 1px;
                border: none;
                font-size: 12px;
            }
        }
        h1 {
            font-size: 2em;
            align-self: center;
            padding-top: 5%;
        }
        h2 {
            margin: auto;
        }
        .add-button {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-left: 5%;
            #add-button {
                margin-right: 1%;
                width: 20px;
                height: auto;
            }
            p {
                color: $secondary-color;
            }
        }
        .appointment-headings {
            margin-top: 30px;
            margin-bottom: 10px;
            thead {
                tr {
                    font-size: 12px;
                }
            }
        }
    }
}

.appointment-buttons {
    display: flex;
    .deleteButton {
        border: none;
        background-color: white;
        color: red;
    }
}

@media screen and (min-width: $medium) {
    .appointment-dashbaord-container {
        min-height: calc(100vh - 149.38px);
        .appointment-box {
            width: 800px;
        }
    }
}

@media screen and (min-width: $large) {
    .appointment-dashbaord-container {
        min-height: calc(100vh - 161.484px);
        .appointment-box {
            width: 950px;
        }
    }
}

@media screen and (min-width: $extra-large) {
    .appointment-dashbaord-container {
        min-height: calc(100vh - 174.98px);
        .appointment-box {
            margin-top: 35px;
            margin-bottom: 35px;
            width: 1150px;
        }
    }
}