//Header/Hero image/Navbar
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    #hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    nav {
        position: absolute;
        top: 6%;
        width: 80%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        padding: 1rem 0;
        border-radius: 999px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                transition: color 0.3s ease;
                &:hover {
                    color: #ffd700;
                }
            }
        }
    }
    #welcome {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 28%;
        right: 10%;
        height: 55%;
        width: 60%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        border-radius: 16px;
        h1 {
            padding-top: 8%;
            color: #ffb300;
            font-size: 2.5rem;
        }
        #welcome-p {
            padding-top: 6%;
            width: 75%;
            align-self: center;
            line-height: 1.5;
        }
        #welcome-button-container {
            #welcome-button {
                border-radius: 16px;
                width: 25%;
                height: 10%;
                align-self: center;
                color: white;
                background-color: #ffb300;
                p {
                    padding: auto;
                    color: white;
                }
            }
        }
    }
}